.quemsomos {
    background-color: rgb(11, 212, 38);
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    background-color:rgb(41, 104, 240);
}

.servicos{
    background-color: rgb(231, 209, 9);
}